[Unit]
Description=Check WARHUB freshness every thirty minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=30min
AccuracySec=1min
Unit=warhub-backup.service

[Install]
WantedBy=timers.target
